<footer class="footer">
	<div class="max-w-4xl mx-auto p-2">
	   <div class="flex flex-row space-between border-t-2 mt-4 pt-4 items-center gap-8">
		  {% if articles %}
			{% if articles[0].modified %}
			  {% set copy_date = articles[0].modified.strftime('%Y') %}
			{% else %}
			  {% set copy_date = articles[0].date.strftime('%Y') %}
			{% endif %}
		  {% else %}
			 {% set copy_date = '' %}
		  {% endif %}
		  <div>&copy; {{ copy_date }} {{ AUTHOR }}
			 &middot; Made with
			 <a href="https://docs.getpelican.com/" target="_blank">pelican</a>,
			 <a href="https://tailwindcss.com" target="_blank">tailwindcss</a>,
			 <a href="https://daisyui.com" target="_blank">daisyui</a>
			 {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
			   {% from 'includes/cc-license.html' import cc_license_mark %}
				 <p><small>{{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL,'lang':DEFAULT_LANG}) }}</small></p>
			 {% elif CUSTOM_LICENSE %}
			   <p><small>{{ CUSTOM_LICENSE }}</small></p>
			 {% endif %}
		  </div>
		  <div class="shrink-0 basis-24 text-xs"><a href="#">
			<svg class="icon inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
			</svg>
			Back to top
		</a></div>
	   </div>
	</div>
 </footer>
