<header class="sticky top-0 w-full bg-base-300 z-50 drop-shadow-xl">
  <nav class="navbar max-w-4xl mx-auto bg-base-300">
    <div class="flex-none md:hidden pr-2">
      <label for="menu-drawer" class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </label>
    </div>
    <a class="normal-case text-xl pr-2 font-semibold" href="{{SITEURL}}">{{ SITENAME }}</a>
    <div class="hidden md:block">
      <ul class="flex-1 menu menu-horizontal">
        {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}

        {% if not PAGES_SORT_ATTRIBUTE -%}
          {% set PAGES_SORT_ATTRIBUTE = 'title' %}
        {%- endif %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{page.title}}</a></li>
          {% endfor %}
        {% endif %}

        {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
                <li>
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat | capitalize }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if ARCHIVES_SAVE_AS %}
          <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL | default('archives.html') }}">
            Archives
          </a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>
