<div class="flex w-full bg-base-200 rounded-lg my-2 not-prose">
	{% if article.next_article %}
	<div class="w-1/2 hover:bg-base-300 rounded-l-lg">
	  <a class="flex flex-col pr-2" href="{{ SITEURL }}/{{ article.next_article.url }}">
		<div class="mx-4 py-2 text-left">
		  <p class="text-xs uppercase">« Next Post</p>
		  <p class="text-sm py-1 hover:underline">{{ article.next_article.title }}</p>
		</div>
	  </a>
	</div>
	{% else %}
	<div class="w-1/2 rounded-l-lg"></div>
	{% endif %}
	{% if article.prev_article %}
	<div class="w-1/2 hover:bg-base-300 rounded-r-lg ">
	  <a class="flex flex-col" href="{{ SITEURL }}/{{ article.prev_article.url }}">
		<div class="mx-4 py-2 text-right">
		  <p class="text-xs uppercase">Prev Post »</p>
		  <p class="text-sm hover:underline">{{ article.prev_article.title }}</p>
		</div>
	  </a>
	</div>
	{% endif %}
</div>
