{% if articles_page and articles_paginator.num_pages > 1 %}
    {% if USE_PAGER %}
        <div class="btn-group grid grid-cols-2">
            {% if articles_page.has_previous() %}
                <a class="btn btn-sm md:btn-md" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Newer</a>
            {% else %}
                <button class="btn btn-sm md:btn-md btn-disabled">&larr; Newer</button>
            {% endif %}
            {% if articles_page.has_next() %}
                <a class="btn btn-sm md:btn-md" href="{{ SITEURL }}/{{ articles_next_page.url }}">Older &rarr;</a>
            {% else %}
                <button class="btn btn-sm md:btn-md btn-disabled">Older &rarr;</button>
            {% endif %}
            </div>
    {% else %}
        <div class="btn-group">
            {% if articles_page.has_previous() %}
                {% set num = articles_page.previous_page_number() %}
                <a class="btn btn-sm md:btn-md" href="{{ SITEURL }}/{{ articles_previous_page.url }}">&laquo;</a>
            {% else %}
                <button class="btn btn-sm md:btn-md btn-disabled">&laquo;</button>
            {% endif %}
            {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
                <a class="btn btn-sm md:btn-md {{ 'btn-active' if num == articles_page.number else '' }}"
                   href="{{ SITEURL }}/{{ articles_paginator.page(num).url if num > 1 else articles_paginator.page(1).url }}">
                    {{ num }}
                </a>
            {% endfor %}
            {% if articles_page.has_next() %}
                <a class="btn btn-sm md:btn-md" href="{{ SITEURL }}/{{ articles_next_page.url }}">&raquo;</a>
            {% else %}
                <button class="btn btn-sm md:btn-md btn-disabled">&raquo;</button>
            {% endif %}
            </div>
    {% endif %}
{% endif %}
