{% if article.related_posts %}
<section class="bg-base-200 rounded p-4 my-2 prose-sm" id="related-posts">
    <h4>{{ RELATED_POSTS_TEXT|default('Related Posts:') }}</h4>
    <ul>
    {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
</section>
{% endif %}
