{% if LINKS %}

<div class="mt-4">
  <div class="text-xl py-2 font-medium">Links</div>
  <div class="flex flex-col gap-2">
    {% for name, link in LINKS %}
      <a class="text-sm hover:underline" href="{{ link }}" target="_blank">{{ name }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
