{% if SOCIAL %}
<div class="mt-4">
  <div class="text-xl py-2 font-medium">Social</div>
  <div class="grid md:grid-cols-2 sm:grid-cols-5 grid-cols-2">
    {% for s in SOCIAL %}
      <a class="hover:underline" href="{{ s[1] }}">{{ s[0] }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
