{% extends "base.html" %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
{% endblock %}

{% block meta %}
    {% if article.author %}
        <meta name="author" content="{{ article.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
    {% if article.summary %}
        <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ SITEURL }}" title="{{ SITENAME }}">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                </li>
                {% if DISPLAY_CATEGORY_IN_BREADCRUMBS %}
                    <li><a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a></li>
                {% endif %}
                <li class="active">{{ article.title }}</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<article class="prose">
    <div>
        <h1>{{ article.title }}</h1>
        <div class="grid grid-cols-2-auto gap-2 text-xs bg-base-200 p-4 rounded">
            {% include "includes/article_info.html" %}
        </div>
    </div>
    <div>{{ article.content }}</div>
    {% include 'includes/related_posts.html' %}
    {% include 'includes/series.html' %}
    {% include 'includes/neighbors.html' %}
</article>
{% endblock %}
