<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Favicons are a touchy subject. For reasoning for the following code, see: http://stackoverflow.com/a/23851464/872397 #}
  {% if FAVICON %}
    <link href="{{ SITEURL }}/{{ FAVICON }}" rel="icon">
  {% endif %}
  {% if TOUCHICON %}
    <link rel="apple-touch-icon" href="{{ SITEURL }}/{{ TOUCHICON }}">
  {% endif %}

  {% block canonical_rel %}{% endblock %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
  {% endblock %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
  <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/{{ PYGMENTS_STYLE|default('native') }}.css" rel="stylesheet">
  {% if CUSTOM_CSS %}
    <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}

  {% if FEED_ALL_ATOM %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} ATOM Feed"/>
  {% endif %}

  {% if FEED_ALL_RSS %}
    <link href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
          title="{{ SITENAME }} RSS Feed"/>
  {% endif %}

  {% if tag and TAG_FEED_ATOM %}
    <link href="{{ SITEURL }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} {{ tag }} ATOM Feed"/>
  {% endif %}

  {% if category and CATEGORY_FEED_ATOM %}
    <link href="{{ SITEURL }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate"
          title="{{ SITENAME }} {{ category }} ATOM Feed"/>
  {% endif %}
</head>
<body>
  {% include 'includes/header.html' %}
  <div class="drawer">
    <input id="menu-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
      {% if BANNER and BANNER_ALL_PAGES %}
        {% include 'includes/banner.html' %}
      {% elif BANNER and not BANNER_ALL_PAGES %}
        {% block banner %}{% endblock %}
      {% endif %}
      <div class="md:max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-12 gap-4 p-2 mt-8">
        <div class="md:col-span-9">
          {% block breadcrumbs %}
          {% endblock %}
          {% block content %}
          {% endblock %}
        </div>
        <aside class="md:col-span-3">
          {% if ABOUT_ME or AVATAR %}
            {% include 'includes/about_me.html' %}
          {% endif %}
          {%  if not HIDE_SIDEBAR %}
            {% include 'includes/sidebar.html' %}
          {% endif %}
        </aside>
      </div>
      {% include 'includes/footer.html' %}
    </div>
    <div class="drawer-side">
      <label for="menu-drawer" class="drawer-overlay"></label>
      {% include 'includes/drawer.html' %}

    </div>
  </div>

  {% block scripts %}{% endblock %}
  {% if CUSTOM_JS %}
  <script src="{{ SITEURL }}/{{ CUSTOM_JS }}"></script>
  {% endif %}
</body>
</html>
