{% extends "base.html" %}
{% block title %}{{ page.title }} — {{ SITENAME }} {% endblock %}

{% block meta %}
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <div class="breadcrumbs">
        <ul>
            <li>
                <a href="{{ SITEURL }}" title="{{ SITENAME }}">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </li>
            {% if page.url %}
                <li>{{ page.title }}</li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
{% endblock %}


{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}

{% block content %}
<section id="content" class="body prose">
    {{ page.content }}
</section>
{% endblock %}
