{% extends "base.html" %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <div class="breadcrumbs">
            <ul>
                <li>
                    <a href="{{ SITEURL }}" title="{{ SITENAME }}">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd"/>
                        </svg>
                    </a>
                </li>
                <li>Tags</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<section class="max-w-prose">
    <h1 class="font-extrabold text-4xl mb-8">Tags for {{ SITENAME }}</h1>
    <div class="space-y-4">
        {%- for tag, articles in tags|sort %}
        <div  tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
            <input type="checkbox" class="peer" />
            <div class="collapse-title text-xl font-medium">
                <h4 class="my-2">
                    {{ tag }} <span class="badge float-right">{{ articles|count }}</span>
                </h4>
            </div>
            <div class="collapse-content">
                <div class="grid grid-cols-2-auto gap-x-4 place-items-baseline">
                    {% for article in articles %}
                        <span class="text-sm opacity-80"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                        <a class="underline font-medium" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
