@tailwind base;
@tailwind components;
@tailwind utilities;

.tag-1 {
	@apply text-lg leading-tight
}

.tag-2 {
	@apply text-base leading-tight
}

.tag-3 {
	@apply text-sm leading-tight
}

.tag-4 {
	@apply text-xs leading-tight
}

.icon {
	@apply w-6 h-6
}

--bole: #87423Bff;
--prussian-blue: #2B3D53ff;
--walnut-brown: #504744ff;
--davys-gray: #4C505Aff;
--timberwolf: #D1CEC6ff;
--gunmetal: #1D2532ff;
--coyote: #7E6856ff;
