.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #f8f8f8; }
.highlight pre .c, pre.code .c { color: #008800; font-style: italic } /* Comment */
.highlight pre .err, pre.code .err { border: 1px solid #FF0000 } /* Error */
.highlight pre .k, pre.code .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight pre .o, pre.code .o { color: #666666 } /* Operator */
.highlight pre .cm, pre.code .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #008800 } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #A00000 } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gr, pre.code .gr { color: #FF0000 } /* Generic.Error */
.highlight pre .gh, pre.code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #00A000 } /* Generic.Inserted */
.highlight pre .go, pre.code .go { color: #888888 } /* Generic.Output */
.highlight pre .gp, pre.code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight pre .gt, pre.code .gt { color: #0044DD } /* Generic.Traceback */
.highlight pre .kc, pre.code .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #AA22FF; font-weight: bold } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #00BB00; font-weight: bold } /* Keyword.Type */
.highlight pre .m, pre.code .m { color: #666666 } /* Literal.Number */
.highlight pre .s, pre.code .s { color: #BB4444 } /* Literal.String */
.highlight pre .na, pre.code .na { color: #BB4444 } /* Name.Attribute */
.highlight pre .nb, pre.code .nb { color: #AA22FF } /* Name.Builtin */
.highlight pre .nc, pre.code .nc { color: #0000FF } /* Name.Class */
.highlight pre .no, pre.code .no { color: #880000 } /* Name.Constant */
.highlight pre .nd, pre.code .nd { color: #AA22FF } /* Name.Decorator */
.highlight pre .ni, pre.code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight pre .ne, pre.code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight pre .nf, pre.code .nf { color: #00A000 } /* Name.Function */
.highlight pre .nl, pre.code .nl { color: #A0A000 } /* Name.Label */
.highlight pre .nn, pre.code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight pre .nt, pre.code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight pre .nv, pre.code .nv { color: #B8860B } /* Name.Variable */
.highlight pre .ow, pre.code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #bbbbbb } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #666666 } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #666666 } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #666666 } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #666666 } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #666666 } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #BB4444 } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #008000 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight pre .bp, pre.code .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight pre .vc, pre.code .vc { color: #B8860B } /* Name.Variable.Class */
.highlight pre .vg, pre.code .vg { color: #B8860B } /* Name.Variable.Global */
.highlight pre .vi, pre.code .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight pre .il, pre.code .il { color: #666666 } /* Literal.Number.Integer.Long */
