.highlight pre .hll, pre.code .hll { background-color: #ffffcc }
.highlight pre, pre.code { background: #ffffff; }
.highlight pre .c, pre.code .c { color: #FF0000; font-style: italic } /* Comment */
.highlight pre .k, pre.code .k { color: #0000FF } /* Keyword */
.highlight pre .cm, pre.code .cm { color: #FF0000; font-style: italic } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #FF0000; font-style: italic } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #FF0000; font-style: italic } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #FF0000; font-style: italic } /* Comment.Special */
.highlight pre .kc, pre.code .kc { color: #0000FF } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #0000FF } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #0000FF } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #0000FF } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #0000FF } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #0000FF } /* Keyword.Type */
.highlight pre .s, pre.code .s { color: #009C00 } /* Literal.String */
.highlight pre .nc, pre.code .nc { color: #007575 } /* Name.Class */
.highlight pre .nd, pre.code .nd { color: #CC00A3 } /* Name.Decorator */
.highlight pre .nf, pre.code .nf { color: #C34E00 } /* Name.Function */
.highlight pre .sb, pre.code .sb { color: #009C00 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #009C00 } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #009C00 } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #009C00 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #009C00 } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #009C00 } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #009C00 } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #009C00 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #009C00 } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #009C00 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #009C00 } /* Literal.String.Symbol */
