.highlight pre .hll, pre.code .hll { background-color: #4f424c }
.highlight pre, pre.code { background: #2f1e2e; color: #e7e9db }
.highlight pre .c, pre.code .c { color: #776e71 } /* Comment */
.highlight pre .err, pre.code .err { color: #ef6155 } /* Error */
.highlight pre .k, pre.code .k { color: #815ba4 } /* Keyword */
.highlight pre .l, pre.code .l { color: #f99b15 } /* Literal */
.highlight pre .n, pre.code .n { color: #e7e9db } /* Name */
.highlight pre .o, pre.code .o { color: #5bc4bf } /* Operator */
.highlight pre .p, pre.code .p { color: #e7e9db } /* Punctuation */
.highlight pre .cm, pre.code .cm { color: #776e71 } /* Comment.Multiline */
.highlight pre .cp, pre.code .cp { color: #776e71 } /* Comment.Preproc */
.highlight pre .c, pre.code .c1 { color: #776e71 } /* Comment.Single */
.highlight pre .cs, pre.code .cs { color: #776e71 } /* Comment.Special */
.highlight pre .gd, pre.code .gd { color: #ef6155 } /* Generic.Deleted */
.highlight pre .ge, pre.code .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gh, pre.code .gh { color: #e7e9db; font-weight: bold } /* Generic.Heading */
.highlight pre .gi, pre.code .gi { color: #48b685 } /* Generic.Inserted */
.highlight pre .gp, pre.code .gp { color: #776e71; font-weight: bold } /* Generic.Prompt */
.highlight pre .gs, pre.code .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .gu, pre.code .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.highlight pre .kc, pre.code .kc { color: #815ba4 } /* Keyword.Constant */
.highlight pre .kd, pre.code .kd { color: #815ba4 } /* Keyword.Declaration */
.highlight pre .kn, pre.code .kn { color: #5bc4bf } /* Keyword.Namespace */
.highlight pre .kp, pre.code .kp { color: #815ba4 } /* Keyword.Pseudo */
.highlight pre .kr, pre.code .kr { color: #815ba4 } /* Keyword.Reserved */
.highlight pre .kt, pre.code .kt { color: #fec418 } /* Keyword.Type */
.highlight pre .ld, pre.code .ld { color: #48b685 } /* Literal.Date */
.highlight pre .m, pre.code .m { color: #f99b15 } /* Literal.Number */
.highlight pre .s, pre.code .s { color: #48b685 } /* Literal.String */
.highlight pre .na, pre.code .na { color: #06b6ef } /* Name.Attribute */
.highlight pre .nb, pre.code .nb { color: #e7e9db } /* Name.Builtin */
.highlight pre .nc, pre.code .nc { color: #fec418 } /* Name.Class */
.highlight pre .no, pre.code .no { color: #ef6155 } /* Name.Constant */
.highlight pre .nd, pre.code .nd { color: #5bc4bf } /* Name.Decorator */
.highlight pre .ni, pre.code .ni { color: #e7e9db } /* Name.Entity */
.highlight pre .ne, pre.code .ne { color: #ef6155 } /* Name.Exception */
.highlight pre .nf, pre.code .nf { color: #06b6ef } /* Name.Function */
.highlight pre .nl, pre.code .nl { color: #e7e9db } /* Name.Label */
.highlight pre .nn, pre.code .nn { color: #fec418 } /* Name.Namespace */
.highlight pre .nx, pre.code .nx { color: #06b6ef } /* Name.Other */
.highlight pre .py, pre.code .py { color: #e7e9db } /* Name.Property */
.highlight pre .nt, pre.code .nt { color: #5bc4bf } /* Name.Tag */
.highlight pre .nv, pre.code .nv { color: #ef6155 } /* Name.Variable */
.highlight pre .ow, pre.code .ow { color: #5bc4bf } /* Operator.Word */
.highlight pre .w, pre.code .w { color: #e7e9db } /* Text.Whitespace */
.highlight pre .mb, pre.code .mb { color: #f99b15 } /* Literal.Number.Bin */
.highlight pre .mf, pre.code .mf { color: #f99b15 } /* Literal.Number.Float */
.highlight pre .mh, pre.code .mh { color: #f99b15 } /* Literal.Number.Hex */
.highlight pre .mi, pre.code .mi { color: #f99b15 } /* Literal.Number.Integer */
.highlight pre .mo, pre.code .mo { color: #f99b15 } /* Literal.Number.Oct */
.highlight pre .sb, pre.code .sb { color: #48b685 } /* Literal.String.Backtick */
.highlight pre .sc, pre.code .sc { color: #e7e9db } /* Literal.String.Char */
.highlight pre .sd, pre.code .sd { color: #776e71 } /* Literal.String.Doc */
.highlight pre .s, pre.code .s2 { color: #48b685 } /* Literal.String.Double */
.highlight pre .se, pre.code .se { color: #f99b15 } /* Literal.String.Escape */
.highlight pre .sh, pre.code .sh { color: #48b685 } /* Literal.String.Heredoc */
.highlight pre .si, pre.code .si { color: #f99b15 } /* Literal.String.Interpol */
.highlight pre .sx, pre.code .sx { color: #48b685 } /* Literal.String.Other */
.highlight pre .sr, pre.code .sr { color: #48b685 } /* Literal.String.Regex */
.highlight pre .s, pre.code .s1 { color: #48b685 } /* Literal.String.Single */
.highlight pre .ss, pre.code .ss { color: #48b685 } /* Literal.String.Symbol */
.highlight pre .bp, pre.code .bp { color: #e7e9db } /* Name.Builtin.Pseudo */
.highlight pre .vc, pre.code .vc { color: #ef6155 } /* Name.Variable.Class */
.highlight pre .vg, pre.code .vg { color: #ef6155 } /* Name.Variable.Global */
.highlight pre .vi, pre.code .vi { color: #ef6155 } /* Name.Variable.Instance */
.highlight pre .il, pre.code .il { color: #f99b15 } /* Literal.Number.Integer.Long */
